.outer-box{

     background-color: rgb(17, 14, 14);

     border-radius: 12px;
     box-shadow:12px 12px 12px rgba(0, 0, 0, 0.274) ;   
     width:80%;
     margin-left: 7%;
     color: aliceblue;
     margin-top: 1%;
     display:grid;
     padding: 3%;
}


.outer-box > label {
    padding: 12px;
    margin-left: -12px;
    font-weight: bold;
    
}

.outer-box> input {
    padding:7px;


}


.outer-box > textarea {
    padding:10px;
    height: 20px;

}

#title{
margin-left: 45%;
color: aqua;}
